/* --- MOBILE FIRST - iPhone 7 - width < 768px --- */
/* --- GERAL --- */
/*
unidades preferidas para esse CSS
margin, padding: rem
font-size: rem
width: %
max-width: % ou px
*/

* {
  box-sizing: border-box;
}

html {
  font-size: 0.625rem; /* definir uma font-size padrão */
}


body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  margin: 0;
}

/* --- Barra de rolagem personalizado --- */

::-webkit-scrollbar {
  width: 2rem;
  
}
::-webkit-scrollbar-thumb {
background: rgb(63,94,251);
background: linear-gradient(180deg, #f621fd 0%, #b721ff 77%);
  border-radius: 30px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-button{
  background: linear-gradient(180deg, #f621fd 0%, #b721ff 77%);
  
}
::-webkit-scrollbar-arrow-color{
  color:white;
}
a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

/* define que as imagens tem que ter o tamanho máximo da div mãe */
.img-responsive {
  width: 100%;
  
}

/* define o tamanho da caixa */
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}

/* --- BOTAO --- */

.btn {
  text-transform: uppercase;
  font-weight: bold;
  padding: 1rem 3rem;
  border-radius: 5px;
  font-size: 1.8rem;
}

.btn_roxo {
  color: white;
  background-color: #c083b9;
  display: block;
  max-width: 250px;
  text-align: center;
  transition: all 0.5s;
  margin: 0 auto;
}

.btn_roxo:hover,
.btn_roxo:focus {
  transform: translateY(-1rem);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  background-color: rgb(192, 156, 188);
}

.btn_roxo:active {
  transform: translateY(-3rem);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.btn_center {
  margin: 0 auto;
}

/* --- NAV --- */
.navegacao {
  background-color:#6745826b;
  color: white;
  text-transform: uppercase;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
  z-index: 99;
  position: fixed;
  width: 100%;
  transition: all 1s;
}

.navegacao__logo {
  max-width: 200px;
}

.navegacao__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navegacao__itens {
  transition: all 1s;
  position: absolute;
  right: -800px;
  top: 85px;
  width: 100%;
  text-align: center;
  padding: 3rem 0;
}

.navegacao__itens.ativo {
  display: block;
  right: 0;
  top: 85px;
  width: 100%;
  text-align: center;
  padding: 3rem 0;
  transition: right 0.5s;
}

.navegacao__itens li > a {
  transition: all 0.5s;
}

.navegacao__itens li > a:hover {
  color: #c083b9;
}

.navegacao__menu-hamburguer img {
  border-radius: 5px;
}

.navegacao__nav {
  margin-bottom: 3rem;
  margin-right: 2rem;
}

.navegacao__nav li {
  font-size: 1.5rem;
  margin: 1rem;
}

.navegacao__redes-sociais a {
  margin: 0 1rem;
}

/* --- HEADER --- */
.header {
  min-height: 70vh;
  height: 480px;
  background: linear-gradient(
      to top,
      rgba(3, 3, 3, 0.781) 0,
      rgba(196, 61, 223, 0.418) 50%,
      #69156975 100%
    ),
    url(../img/DanielleGomes.jpg);
  background-size: cover;
  filter: contrast(100%);
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  text-align: center;
  padding: 11rem 2rem 5rem 2rem;
  color: white;
}

.principal__titulo {
  font-size: 2.5rem;
  font-weight: 900;
  text-shadow: 0px 5px 15px black;
  
}
/* --CARROSSEL--*/

.slideshow-container {
  width: 70%;
  position: relative;
  margin-left: 2rem;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -1.375rem;
  padding: 1rem;
  color: #550294;
  background-color: #c787f8;
  font-weight: bold;
  font-size: 1.125rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: violet;
}

.text {
  color: #740ac7;
  font-size: 0.94rem;
  padding: 0.125rem;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.text-bold {
  font-weight: bolder;
}

/* Numeros do texto */
.numbertext {
  color: #740ac7;
  font-size: 0.75rem;
  padding: 0.5rem 0.75rem;
  position: absolute;
  top: 0;
}

/* Bolinhas */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 0.125rem;
  background-color: #c787f8;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #740ac7;
}

/* animaçoes */

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* --- HEADER --- */
main {
  width: 70vw;
  margin: 1.9rem 2.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
h3 {
  font-size: 1.2rem;
}

.container1 {
  display: flex;
  flex-direction: row;
}

.container1-text {
  display: flex;
  flex-direction: column;
  padding-left: 5.7rem;
  line-height: 20px;
  text-align: justify;
  justify-content: center;
  font-size: 2rem;
  color: #674582;
}

.about {
  margin: -2rem;
  background: #740ac7;
  opacity: 80%;
  text-align: center;
  width: 105vw;
}

.about p {
  color: #09fd76;
}
.imagem-carrossel {
  object-fit: cover;
  height: 400px;
}
/* --- FOOTER --- */
.rodape {
  background-color: #323534;
  color: white;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.8rem;
}

.rodape__principal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1.5rem 0;
}

.rodape__principal > * {
  margin: 1rem 0;
}

.rodape__navegacao > li {
  font-size: 1.1rem;
  margin: 1rem;
}

.rodape__navegacao a {
  transition: all 0.5s;
}

.rodape__navegacao a:hover {
  color: #c083b9;
}

.rodape__logo {
  max-width: 200px;
}

.rodape__redes-sociais a {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}

.rodape__redes-sociais a:hover {
  color: #c083b9;
}

.rodape__redes-sociais img {
  max-width: 10px;
  margin-right: 0.5rem;
}

.rodape__redes-sociais span {
  display: flex;
  font-size: 1.5rem;
}

.rodape__cc {
  width: 100%;
  background-color: #292a2a;
  font-size: 1rem;
  opacity: 0.5;
  text-align: center;
}

/* --- PEFIL DIVA--- */
.secao-diva {
  display: flex;
  flex-direction: column;
  padding: 5rem 7rem;
  margin: -5rem auto;
  width: 95vw;
}

.secao-diva__titulo {
  text-align: center;
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  color: #674582;
}

.secao-diva__titulo_esq {
  margin-right: auto;
}
#secao-diva__creditos {
  font-size: 1.2rem;
  padding: 2rem;
  color: rgb(4, 112, 31);
}
.secao-diva p {
  color: #63458a;
  font-size: 1.6rem;
  line-height: 1.5;
  align-content: initial;
}

.secao-diva__introducao {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.secao-diva__foto-perfil {
  max-width: 18rem;
  margin: 1rem;
}

.secao-diva__citacao p {
  transition: all 0.5s;
  font-weight: bold;
  border: 1px solid #63458a;
  text-align: center;
  padding: 1rem;
  font-size: 1.7rem;
}

.secao-diva__citacao p:hover {
  transform: scale(1.1);
}

.secao-diva__historia {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0;
}

/* --- AUTORA --- */
.secao-autora {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.secao-autora__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 400px;
  border-radius: 5px;
}
.secao-cta__btn {
  padding: 0.625rem 1.5625rem;
  border-radius: 5px;
  background-color: #674582;
  color: white;
  font-size: 1.25rem;
  cursor: pointer;
}
.arrow {
  cursor: pointer;
  width: 0;
  height: 0;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #674582;
  transition: all 0.5s;
  margin-left: 6rem;
}

.arrow-close {
  cursor: pointer;
  transition: all 0.5s;
  width: 0;
  height: 0;
  border-bottom: 10px solid #674582;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  margin-bottom: 25px;
}

.secao-autora__foto a:hover {
  opacity: 0.8;
}

.secao-autora__dados {
  color: #63458a;
  padding-left: 7rem;
}

.secao-autora__dados p {
  margin: 0.94rem;
  display: inline-block;
  font-size: 1.25rem;
}

.secao-autora__dados span {
  font-size: 1.75rem;
}

.secao-autora a {
  font-style: italic;
  text-decoration: underline;
}
.secao-autora__about {
  background-color: #674582;
  color: rgb(245, 105, 245);
  border-radius: 5px;
  display: flex;
  flex-direction: colum;
}
.secao-autora__about img {
  border-radius: 8px;
  width: 75px;
  height: 110px;
  margin: 0.625rem;
}

.secao-autora__about p {
  line-height: 23px;
  font-size: 0.94rem;
  margin-right: 0.625rem;
}

.closed {
  display: none;
  transition: all 1s;
  text-align: center;
}
.opened {
  display: flex;
  transition: all 1s;
  flex-direction: column;
  margin-left: 5rem;
  align-items: center;
  padding: 1rem;
}

.secao-cta {
  text-align: right;
  padding: 4rem 3rem;
  margin-left: 9rem;
}

.secao-autora__btn {
  padding: 0.3125rem 0.75rem;
  border-radius: 5px;
  background-color: #63458a;
  color: white;
  font-size: 1rem;
  position: absolute;
  margin-left: 5rem;
}

.secao-autora__btn:hover {
  opacity: 0.8;
  color: #c083b9;
}

/*** MEDIA QUERIES ***/
/* TABLET */
@media (min-width: 768px) {
  /* --- NAV --- */
  .navegacao__itens {
    position: static;
    display: flex;
    padding: 0;
    width: auto;
  }

  .navegacao__nav {
    margin-bottom: 0;
  }

  .navegacao__itens ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .navegacao__itens li {
    font-size: 1.2rem;
    margin: 0 0.6rem;
  }

  .navegacao__menu-hamburguer {
    display: none;
  }

  /* --- CARROSSEL --- */
  .slideshow-container {
    margin-left: 8rem;
  }

  /* --- HEADER --- */

  .principal__titulo {
    font-size: 2.9rem;
  }

  /* --- AUTORA --- */
  .secao-autora__dados {
    padding-left: 5rem;
  }

  .arrow{
    margin-left: 6.5rem;
  }
  .secao-autora__btn {
    font-size: 1.3rem;
    margin-left: 23rem;
  }
  /* --- FOOTER --- */
  .rodape {
    padding-top: 0;
  }

  .rodape__principal {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .rodape__logo img {
    max-width: 250px;
  }

  .rodape__navegacao > li {
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .principal {
    max-width: 650px;
  }
  .secao-diva__introducao {
    flex-direction: row;
    margin: 3rem 0;
  }
  .secao-diva__foto-perfil {
    max-width: 100%;
    margin: 0 4rem;
  }
  .secao-diva p {
    font-size: 1.7rem;
  }
  .secao-diva__citacao p {
    font-size: 2.5rem;
    padding: 4rem;
  }
  .secao-autora__about {
    width: 400px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .secao-autora__dados {
    margin-left: 2rem;
  }
  .arrow{
    margin-left: 8.5rem;
  }
  .secao-autora__btn {
    font-size: 2rem;
    margin-left: 30rem;
  }
  /* --- CARROSSEL --- */
  .slideshow-container {
    margin-left: 11rem;
  }
}
/* DESKTOP */
@media (min-width: 1440px) {
  .navegacao__box {
    max-width: 80%;
  }
  .header {
    min-height: 90vh;
    background-position-y: 25%;
  }
  .navegacao__itens li {
    font-size: 1.5rem;
    margin: 0 1rem;
  }
  .principal {
    max-width: 650px;
  }
  /* --- CARROSSEL --- */
  .slideshow-container {
    margin-left: 20rem;
  }
  .secao-autora__btn {
    font-size: 2rem;
    margin-left: 60rem;
  }
}
