/* --- MOBILE FIRST - iPhone 7 - width < 768px --- */
/* --- GERAL --- */
/*
unidades preferidas para esse CSS
margin, padding: rem
font-size: rem
width: %
max-width: % ou px
*/

* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 10px; /* definir uma font-size padrão */
  }
  
  body {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
 
  ul {
    padding: 0;
  }
  
  li {
    list-style: none;
  }

  /* define que as imagens tem que ter o tamanho máximo da div mãe */
  .img-responsive {
    width: 100%;
  }
  
  /* define o tamanho da caixa */
  .container {
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
  }
 

  
  /* --- NAV --- */
  .navegacao {
    background-color: #6745826b;
    color: white;
    text-transform: uppercase;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    padding: 1.5rem;
    z-index: 99;
    position: fixed;
    width: 100%;
    transition: all 1s;
  }
  
  .navegacao__logo {
    max-width: 200px;
  }
  
  .navegacao__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navegacao__itens {
    transition: all 1s;
    position: absolute;
    right: -800px;
    top: 85px;
    width: 100%;
    text-align: center;
    padding: 3rem 0;
  }
  
  .navegacao__itens.ativo {
    display: block;
    right: 0;
    top: 85px;
    width: 100%;
    text-align: center;
    padding: 3rem 0;
    transition: right 0.5s;
  }
  
  .navegacao__itens li > a {
    transition: all 0.5s;
  }
  
  .navegacao__itens li > a:hover {
    color: #c083b9;
  }
  
  .navegacao__menu-hamburguer img {
    border-radius: 5px;
  }
  
  .navegacao__nav {
    margin-bottom: 3rem;
    margin-right: 2rem;
  }
  
  .navegacao__nav li {
    font-size: 1.5rem;
    margin: 1rem;
  }
  
  .navegacao__redes-sociais a {
    margin: 0 1rem;
  }
  
  /* --- HEADER --- */
  .header {
    min-height: 70vh;
    height: 480px;
    background: linear-gradient(
        to top,
        rgba(3, 3, 3, 0.781) 0,
        rgba(196, 61, 223, 0.418) 50%,
        black 100%
      ),
      url(../img/ilustra-tomoe-gozen.jpg);
    background-size: cover;
    filter: contrast(100%);
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    text-align: end;
    padding: 11rem 2rem 5rem 2rem;
    color: white;
  }
  
  .principal__titulo {
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: 900;
    text-shadow: 0px 5px 15px black;
  }

/*MARAVILHOSA*/
  .maravilhosas-container{
    padding-top: 5rem;
    padding-bottom: 8rem;
  }

  .maravilhosas__titulo{
    text-align: center;
    color: #63458a;
    font-weight: bold;
  }

  .btn-saibamais{
    display: center;
    font-weight: bold;
    align-items: center;
    color: #7E459B;
    background-color: white;
  }

  .onnamusha p{
    background-color: white;
    color: #63458a;
    padding-right: 5rem;
    padding-left: 5rem;
    padding-top: 5rem;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align: justify;
  }

  .img-onnamusha{
    width: 100%; 
    position: relative;
    top: -15rem;
    padding-right: 5rem;
    padding-left: 5rem;
  }

  .shogunato p{
    background-color: white;
    color: #63458a;
    padding-right: 5rem;
    padding-left: 5rem;
    padding-top: 5rem;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align: justify;
  }

  .img-shogunato{
    width: 100%; 
    position: relative;
    top: -15rem;
    padding-right: 5rem;
    padding-left: 5rem;
  }

  .culturapop p{
    background-color: white;
    color: #63458a;
    padding-right: 5rem;
    padding-left: 5rem;
    padding-top: 5rem;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align: justify;
  }

  .img-culturapop{
    width: 100%; 
    position: relative;
    top: -15rem;
    padding-right: 5rem;
    padding-left: 5rem;
  }
  
  

  /*FONTES*/
  .fontes{
    color: #63458a;
    font-size: 2rem;
    text-align: center;
    padding-bottom: 10rem;
  }
  .fontes-titulo{
    color:#323534;
    font-weight: bold;
  }


  /*SOBRE MIM*/
  .sobre-mim{
    color: #63458a;
    font-size: 2rem;
    text-align: center;
    padding-bottom: 10rem;
  }
  .titulo-sobremim{
    color:#323534;
    font-weight: bold;
  }

  /* --- FOOTER --- */
  .rodape {
    background-color: #323534;
    color: white;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.8rem;
  }
  
  .rodape__principal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1.5rem 0;
  }
  
  .rodape__principal > * {
    margin: 1rem 0;
  }
  
  .rodape__navegacao > li {
    font-size: 1.1rem;
    margin: 1rem;
  }
  
  .rodape__navegacao a {
    transition: all 0.5s;
  }
  
  .rodape__navegacao a:hover {
    color: #c083b9;
  }
  
  .rodape__logo {
    max-width: 200px;
  }
  
  .rodape__redes-sociais a {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
  }
  
  .rodape__redes-sociais a:hover {
    color: #c083b9;
  }
  
  .rodape__redes-sociais img {
    max-width: 10px;
    margin-right: 0.5rem;
  }
  
  .rodape__redes-sociais span {
    display: flex;
    font-size: 1.5rem;
  }
  
  .rodape__cc {
    width: 100%;
    background-color: #292a2a;
    font-size: 1rem;
    opacity: 0.5;
    text-align: center;
  }
  
   
  /*** MEDIA QUERIES ***/
  /* TABLET */
  @media (min-width: 768px) {
    /* --- NAV --- */
    .navegacao__itens {
      position: static;
      display: flex;
      padding: 0;
      width: auto;
    }
  
    .navegacao__nav {
      margin-bottom: 0;
    }
  
    .navegacao__itens ul {
      display: flex;
      justify-content: space-around;
      width: 100%;
      align-items: center;
      text-align: center;
    }
  
    .navegacao__itens li {
      font-size: 1.2rem;
      margin: 0 0.6rem;
    }
  
    .navegacao__menu-hamburguer {
      display: none;
    }
  
    /* --- HEADER --- */
    .header {
        display: flex;
        align-items: flex-end;
        text-align: end;
    }
  
    .principal__titulo {
      font-size: 5rem;
    }

    
    /* --- SECTION MARAVILHOSAS --- */
    .maravilhosas {
      padding: 4rem 0;
    }
  
    .maravilhosas__box > div {
      max-width: 200px;
      margin: 5rem;
    }
  
    .maravilhosas__perfil img {
      min-height: 220px;
    }
    .maravilhosas__perfil p {
      font-size: 1.5rem;
      margin-top: 1rem;
    }
  
    /* --- FOOTER --- */
    .rodape {
      padding-top: 0;
    }
  
    .rodape__principal {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 100%;
    }
  
    .rodape__logo img {
      max-width: 250px;
    }
  
    .rodape__navegacao > li {
      font-size: 1.5rem;
    }
  }
  
  @media (min-width: 1024px) {
    .header {
        display: flex;
        align-items: flex-end;
        text-align: end;
    }
    .principal {
      max-width: 650px;
    }
    .secao-diva__introducao {
      flex-direction: row;
      margin: 3rem 0;
    }
    .secao-diva__foto-perfil {
      max-width: 100%;
      margin: 0 4rem;
    }
    .secao-diva p {
      font-size: 1.7rem;
    }
    .secao-diva__citacao p {
      font-size: 2.5rem;
      padding: 4rem;
    }
    .secao-autora__about {
      width: 400px;
      flex-direction: row;
      text-align: left;
      align-items: center;
      justify-content: center;
      padding: 0;
    }
    .secao-autora__dados {
      margin: 0 3rem;
    }
  }
  
  /* DESKTOP */
  @media (min-width: 1440px) {
    .navegacao__box {
      max-width: 80%;
    }
    .header {
      min-height: 90vh;
      background-position-y: 25%;
      display: flex;
      align-items: flex-end;
      text-align: end;
    }
    }
    .navegacao__itens li {
      font-size: 1.5rem;
      margin: 0 1rem;
    }
    .principal {
      max-width: 650px;
    }
  
  