/* --- MOBILE FIRST - iPhone 7 - width < 768px --- */
/* --- GERAL --- */
/*
unidades preferidas para esse CSS
margin, padding: rem
font-size: rem
width: %
max-width: % ou px
*/

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 0.7rem;
  /* definir uma font-size padrão */
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

/* define que as imagens tem que ter o tamanho máximo da div mãe */
.img-responsive {
  width: 100%;
}

/* define o tamanho da caixa */
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}

/* --- NAV --- */
.navegacao {
  background-color: #6745826b;
  color: white;
  text-transform: uppercase;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
  z-index: 99;
  position: fixed;
  width: 100%;
  transition: all 1s;
}

.navegacao__logo {
  max-width: 200px;
}

.navegacao__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navegacao__itens {
  transition: all 1s;
  position: absolute;
  right: -800px;
  top: 85px;
  width: 100%;
  text-align: center;
  padding: 3rem 0;
}

.navegacao__itens.ativo {
  display: block;
  right: 0;
  top: 85px;
  width: 100%;
  text-align: center;
  padding: 3rem 0;
  transition: right 0.5s;
}

.navegacao__itens li>a {
  transition: all 0.5s;
}

.navegacao__itens li>a:hover {
  color: #c083b9;
}

.navegacao__menu-hamburguer img {
  border-radius: 5px;
}

.navegacao__nav {
  margin-bottom: 3rem;
  margin-right: 2rem;
}

.navegacao__nav li {
  font-size: 1.5rem;
}

.navegacao__redes-sociais a {
  margin: 0 1rem;
}

/* --- HEADER --- */
.header {
  min-height: 70vh;
  height: 480px;
  background: linear-gradient(to top,
      rgba(3, 3, 3, 0.781) 0,
      rgba(196, 61, 223, 0.418) 50%,
      black 100%),
    url(../img/marielle-franco-banner.png);
  background-size: cover;
  filter: contrast(100%);
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  text-align: center;
  padding: 11rem 2rem 5rem 2rem;
  color: white;
}

.principal__titulo {
  text-transform: uppercase;
  font-size: 2.9rem;
  font-weight: 900;
  text-shadow: 0px 5px 15px black;
}

.principal__sub {
  font-weight: 300px;
  margin: 2rem 0 3rem 0;
  font-size: 1.8rem;
  text-shadow: 0px 0px 15px black;
}


/* --- FOOTER --- */
.rodape {
  background-color: #323534;
  color: white;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.8rem;
}

.rodape__principal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1.5rem 0;
}

.rodape__principal>* {
  margin: 1rem 0;
}

.rodape__navegacao>li {
  font-size: 1.1rem;
  margin: 1rem;
}

.rodape__navegacao a {
  transition: all 0.5s;
}

.rodape__navegacao a:hover {
  color: #c083b9;
}

.rodape__logo {
  max-width: 200px;
}

.rodape__redes-sociais a {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}

.rodape__redes-sociais a:hover {
  color: #c083b9;
}

.rodape__redes-sociais img {
  max-width: 10px;
  margin-right: 0.5rem;
}

.rodape__redes-sociais span {
  display: flex;
  font-size: 1.5rem;
}

.rodape__cc {
  width: 100%;
  background-color: #292a2a;
  font-size: 1rem;
  opacity: 0.5;
  text-align: center;
}

/*---VÍDEOS---*/

iframe {
  width: 100%;
  height: 50vh;
}

.segundo__video-marielle {
  margin-top: 2rem;
}

h6 {
  color: black;
  font-weight: bold;
  font-size: 0.9rem;
  margin-top: 0.1rem;
  margin: 0.9rem;
}

.videos__marielle {
  margin: 1rem;
}

/* --- PEFIL DIVA--- */
.secao-diva {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 2rem;
  margin: 0 auto;
}

.secao-diva__titulo h2 {
  text-align: center;
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  font-size: 1.9rem;
  color: #674582;
  font-weight: bold;
}

.secao-diva p {
  color: #63458a;
  font-size: 1.3rem;
  line-height: 1.5;
}

.secao-diva__introducao {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}

.secao-diva__citacao p {
  transition: all 0.5s;
  font-weight: bold;
  border: 1px solid #63458a;
  text-align: center;
  padding: 1rem;
  font-size: 1.3rem;
}

.secao-diva__citacao p:hover {
  transform: scale(1.1);
}

h3 {
  text-align: center;
  color: #63458a;
  font-size: 1.9rem;
  font-weight: bold;
}

.secao-diva__historia {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0;
  font-size: 1.3rem;
}

.itens__projetos li {
  list-style-type: disc;
  text-align: justify;
  color: #63458a;
  font-size: 1.1rem;
  margin: 2rem 3rem;
}

.ver-mais__btn {
  font-size: 1.1rem;
  color: purple;
  font-weight: bold;
}

.ver-mais__btn:link,
.ver-mais__btn:hover,
.ver-mais__btn a {
  text-decoration: none;
  color: purple;
}

/* --- CARD --- */

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.borda-card {
  margin: 50px;
  border-color: gold;
  border-style: double;
  border-width: 10px;
}

.btn-card {
  display: flex;
  justify-content: center;
  background-color: purple;
  border-radius: 5px;
  text-align: center;
  font-size: 12px;
  color: white;
  width: 30%;
}

.btn-card:link,
.btn-card:hover,
.btn-card a {
  text-decoration: none;
  color: white;
}

h5 {
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  color: purple;
  align-items: center;
}

.card-body p {
  color: #63458a;
  font-size: 1.2rem;
  width: 100%;
  text-align: justify;
}

/* --- AUTORA --- */

/* event toggle */
.secao-autora img {
  border-radius: 50%;
  max-width: 70px;
  max-height: 90px;
  margin-left: 100px;
}

.secao-autora p {
  background-color: rgb(223, 154, 223);
  font-size: 0.9rem;
  text-align: center;
}

.secao-autora h4 {
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
}

.surprise {
  display: flex;
  justify-content: center;
  flex-direction: row;
  visibility: hidden;
  flex-wrap: wrap;
  margin: 0.5rem;
}

.visible {
  visibility: visible;
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.1;
    transform: translateY(-50px);
    transform: rotate(-180deg)
  }

  to {
    opacity: 1;
    transform: translateY(0px);
    transform: rotate(360deg)
  }

}

/* fim event toggle */


.secao-autora__container {
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 60px;
}

.arrow {
  cursor: pointer;
  width: 0;
  height: 0;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #63458a;
  transition: all 0.5s;
}

.arrow-close {
  cursor: pointer;
  transition: all 0.5s;
  width: 0;
  height: 0;
  border-bottom: 10px solid #63458a;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  margin-bottom: 25px;
}

.secao-autora img:hover {
  opacity: 0.8;
}

.closed {
  display: none;
  transition: all 1s;
}

.opened {
  display: flex;
  transition: all 1s;
}

.secao-autora__btn {
  padding: 10px 15px;
  border-radius: 9px;
  background-color: #674582;
  color: white;
  font-size: 15px;
}

.secao-autora__btn:hover {
  opacity: 0.8;
}

/*** MEDIA QUERIES ***/
/* TABLET */
@media (min-width: 768px) {

  /* --- NAV --- */
  .navegacao__itens {
    position: static;
    display: flex;
    padding: 0;
    width: auto;
  }

  .navegacao__nav {
    margin-bottom: 0;
  }

  .navegacao__itens li {
    font-size: 1.3rem;

  }

  .navegacao__menu-hamburguer {
    display: none;
  }

  /* --- HEADER --- */
  .header {
    min-height: 75vh;
    background-size: cover;
    background-position-y: 0;
    text-align: left;
    padding: 5rem 10rem;
  }

  .principal__titulo {
    font-size: 2.9rem;
  }

  .principal__sub {
    font-size: 1.8rem;
  }

  .principal__btn {
    margin: 0;
  }

  /* --- SECTION MARAVILHOSAS --- */
  .maravilhosas {
    padding: 4rem 0;
  }

  .maravilhosas__box>div {
    max-width: 200px;
    margin: 5rem;
  }

  .maravilhosas__perfil img {
    min-height: 220px;
  }

  .maravilhosas__perfil p {
    font-size: 1.5rem;
    margin-top: 1rem;
  }


  /*---VÍDEOS---*/

  iframe {
    height: 100vh;
  }

  /* --- CARD --- */

  .card {
    width: 40%;
  }


  /* --- FOOTER --- */
  .rodape {
    padding-top: 0;
  }

  .rodape__principal {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .rodape__logo img {
    max-width: 250px;
  }

  .rodape__navegacao>li {
    font-size: 1.5rem;
  }

  .itens__projetos li {
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {

    .header {
      width: 100%;
      min-height: 100vh;
    }
    .principal {
      max-width: 650px;
    }

    .principal__titulo {
      font-size: 3rem;
    }

    .secao-diva__titulo h2 {
      font-size: 2.7rem;
    }


    .secao-diva__introducao p {
      flex-direction: row;
      margin: 3rem 0;
      font-size: 1.7rem;
      padding: 2rem;
    }

    .secao-diva__foto-perfil {
      max-width: 100%;
      margin: 0 4rem;
    }


    .secao-diva__citacao p {
      font-size: 1.4rem;
    }

    /* --- CARD --- */

    .card {
      width: 40%;
      padding: 1.5rem;

    }

    .btn-card {
      font-size: 1.4rem;
      width: 30%;
    }

    h5 {
      font-size: 1.6rem;
    }

    .card-body p {
      font-size: 1.5rem;
    }

    h3 {
      font-size: 3rem;
    }

    .itens__projetos li {
      font-size: 1.7rem;
    }

    iframe {
      width: 80%;
      height: 80vh;
    }

    h6 {
      font-size: 1.0rem;
    }

    .videos__marielle {
      border: none;
      width: 80%;
      margin: 0 20rem;
    }

    h3 {
      font-size: 2.5rem;
    }

    .itens__projetos li {
      font-size: 1.5rem;
    }

    .ver-mais__btn {
      font-size: 1.5rem;
    }

    .secao-autora__btn {
      font-size: 1.5rem;
    }

    .secao-autora p {
      font-size: 1rem;
    }

    .secao-autora h4 {
      font-size: 1.5rem;
    }
    .secao-autora img {
      max-width: 100px;
      max-height: 150px;
    }
}



  /* DESKTOP */
@media (min-width: 1440px) {
    .navegacao__box {
      max-width: 80%;
    }

    .header {
      min-height: 90vh;
      background-position-y: 25%;
    }

    .navegacao__itens li {
      font-size: 2rem;
      margin: 0 1rem;
    }

    .principal {
      max-width: 650px;
    }

    .principal__titulo {
      font-size: 6rem;
    }

    .secao-diva__titulo h2 {
      font-size: 5rem;
    }

    .secao-diva p {
      font-size: 1rem;
    }

    iframe {
      height: 90vh;
    }

    h6 {
      font-size: 2rem;
    }

    h3 {
      font-size: 4rem;
    }
    .itens__projetos li {
      font-size: 2rem;
    }

    .ver-mais__btn {
      font-size: 2.5rem;
    }

    h5 {
      font-size: 3rem;
    }

    .card-body p{
      font-size: 2.5rem;
    }

    .btn-card {
      font-size: 2rem;
    }

    .navegacao__logo {
      max-width: 400px;
    }
    .rodape,
    .rodape__principal,
    .rodape__navegacao li a{
      font-size: 2rem;
    }

    .rodape__cc p {
      font-size: 2rem;
    }


  }
