/* --- MOBILE FIRST - iPhone 7 - width < 768px --- */
/* --- GERAL --- */
/*
unidades preferidas para esse CSS
margin, padding: rem
font-size: rem
width: %
max-width: % ou px
*/

.phell {
  font-size: 10px;
}

html {
  font-size: 10px;
}

.img-circle {
  border-radius: 50%;
  margin-top: 4rem;
  margin-left: 2rem;
}

.p1 {
  margin: 2rem;
  font-size: 20px;
}

#content {
  background-color: #542e85a2;
  font-size: 2rem;
  color: black;
}


.h5 {
  font-size: 4rem;
}

.outros {
  align-content: center;
  text-align: right;
  padding: 2rem;
}

.media-video {
  margin: 0.8rem;
  display: block;
}

.main {
  margin: 0 auto;
  width: 100%;
}

.flip-card-back p,a {
  font-size: 1.5rem;
  align-content: center;
  padding: 0.5rem;
}

.card-header {
    padding: -0.25rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  /* border: 1px solid #f1f1f1; */
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  justify-content: space-between;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.listaRef{
  display:inline-block;
  border:1px solid #000;
  padding:3px;
}



/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}



/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: transparent;
  color: black;
}


/* Style the back side */
.flip-card-back {
  background-color: rgba(117, 75, 141, 0.534);;
  color: black;
  transform: rotateY(180deg);
  font-size: 2rem;
}

.cardh1 {
  font-size: 7vw;
}

/*
#e27d60
#O85DCB
#E8A87C
#C38D93
#41B3A3
#badbe2
#a8ced7
#e4d0d3
#e1d8d9
#504f4f
#215b53
 */

.dna {
  width: 30vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.lala {
  padding-top: 1rem;
}

.paragraph2 {
  display: flex;
  font-size: 12px;
  margin-bottom: 4rem;
  text-align: justify;
  font-style: italic;
}

.paragraph1 {
  text-align: justify;

}

.media {
  padding: 2rem;
  margin: 2rem;
  margin-bottom: 2rem;
  /* justify-content: center; */
  display: block;
  justify-content: center;

}

.introducao {
  padding: 0;
  padding-left: 0;
  justify-content: center;
  display: block;
}

.button2 {
   justify-items: center;
}

.picture1 {
  width: 25%;
}

.pictures {
  justify-content: center;
}

/*
#e27d60
#O85DCB
#E8A87C
#C38D93
#41B3A3
#badbe2
#a8ced7
#e4d0d3
#e1d8d9
#47bfaf*/


/* conteudo original do meu botao, a ser modificado depois para parecer algo  */
.btncent {
  background-color: #63458a;
  border: none;
  color: white;
  padding: 2px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 16px;
  color: #000;
  margin-bottom: 2rem;
}

* {
  box-sizing: border-box;
  max-width: 100%;
  margin: 0;
  padding: 0;
}


body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  margin: 0.5rem;
  background-color: #bdbaba7b;
  text-align: center;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: inherit;
}

.flip-card {
  align-self: center;
}

#videos {
  /* margin-top: 0rem; */
  border: 50px solid #3c2954;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

/* define que as imagens tem que ter o tamanho máximo da div mãe */
.img-responsive {
  width: 85%;
}

/* define o tamanho da caixa */
.container {
  margin: 0;
  width: 100%;
  /* max-width: 960px; */
}

/* --- BOTAO --- */


.btn2 {
        display: inline-block;
        background-color: #582e8f;
        border-radius: 60px;
        border: 7px double #cccccc;
        color: #adadad;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        /* width: 200px; */
        transition: all 0.5s;
        cursor: pointer;
        margin: 25px;
        opacity: 70%;
}

.maisSobre {
  margin-bottom: 10vw;
}

.flip-card {
  margin: 2vw;
}

.btn3 {
  background-color: transparent;
  text-decoration: underline;
  color: gainsboro
}

.btn {
  display: inline-block;
        background-color: #272c74;
        border-radius: 5px;
        border: 13px double #cccccc;
        color: #eeeeee;
        text-align: center;
        font-size: 13px;
        /* padding: 20px; */
        width: 200px;
        transition: all 0.5s;
        cursor: pointer;
        /* margin: 25px; */
}

.btn_roxo {
  color: white;
  background-color: #c083b9;
  display: block;
  max-width: 250px;
  text-align: center;
  transition: all 0.5s;
  margin: 0 auto;
}

.btn_roxo:hover,
.btn_roxo:focus {
  transform: translateY(-1rem);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  background-color: rgb(192, 156, 188);
}

.btn_roxo:active {
  transform: translateY(-3rem);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.btn_center {
  margin: 0 auto;
}

/* --- NAV --- */
/* 42357a6b */

.navegacao {
  background-color: #6745826b;
  color: white;
  text-transform: uppercase;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
  z-index: 99;
  position: fixed;
  width: 99%;
  transition: all 3s;
}

.navegacao__logo {
  max-width: 200px;
}

.navegacao__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navegacao__itens {
  transition: all 1s;
  position: absolute;
  right: -800px;
  top: 85px;
  width: 100%;
  text-align: center;
  padding: 3rem 0;
}

.navegacao__itens.ativo {
  display: block;
  right: 0;
  top: 85px;
  width: 100%;
  text-align: center;
  padding: 3rem 0;
  transition: right 0.5s;
}

.navegacao__itens li > a {
  transition: all 0.5s;
}

.navegacao__itens li > a:hover {
  color: #c083b9;
}

.navegacao__menu-hamburguer img {
  border-radius: 5px;
}

.navegacao__nav {
  margin-bottom: 3rem;
  margin-right: 2rem;
}

.navegacao__nav li {
  font-size: 1.5rem;
  margin: 1rem;
}

.navegacao__redes-sociais a {
  margin: 0 1rem;
}

/* --- HEADER --- */

.header {
  min-height: 70vh;
  height: 480px;
  background: linear-gradient(
      to top,
      rgba(3, 3, 3, 0.781) 0,
      rgba(196, 61, 223, 0.418) 50%,
      black 100%
    ),
    url(../img/dna.png);
  background-size: cover;
  filter: contrast(100%);
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  text-align: center;
  padding: 11rem 2rem 5rem 2rem;
  color: white;
}

.principal__titulo {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 900;
  text-shadow: 0px 5px 15px black;
}

/* .principal__sub {
  font-weight: 300;
  margin: 2rem 0 3rem 0;
  font-size: 1.8rem;
  text-shadow: 0px 0px 15px black;
} */

/* --- SECTION MARAVILHOSAS --- */
.maravilhosas__titulo {
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  color: #63458a;
  font-size: 2rem;
  text-align: center;
}

.maravilhosas__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  color: #63458a;
}

.maravilhosas__perfil {
  max-width: 120px;
  margin: 2rem;
}

.maravilhosas__perfil img {
  background-color: #63458a;
  border-radius: 10px;
  min-height: 125px;
  object-fit: cover;
}

.maravilhosas__perfil a img {
  transition: all 0.5s;
}

.maravilhosas__perfil a:hover {
  text-decoration: underline;
}

.maravilhosas__perfil a:hover img {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

/* --- FOOTER --- */
.rodape {
  background-color: #323534;
  color: white;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.8rem;
}

.rodape__principal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1.5rem 0;
}

.rodape__principal > * {
  margin: 1rem 0;
}

.rodape__navegacao > li {
  font-size: 1.1rem;
  margin: 1rem;
}

.rodape__navegacao a {
  transition: all 0.5s;
}

.rodape__navegacao a:hover {
  color: #c083b9;
}

.rodape__logo {
  max-width: 200px;
}

.rodape__redes-sociais a {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}

.rodape__redes-sociais a:hover {
  color: #c083b9;
}

.rodape__redes-sociais img {
  max-width: 10px;
  margin-right: 0.5rem;
}

.rodape__redes-sociais span {
  display: flex;
  font-size: 1.5rem;
}

.rodape__cc {
  width: 100%;
  background-color: #292a2a;
  font-size: 1rem;
  opacity: 0.5;
  text-align: center;
}

/* --- PEFIL DIVA--- */
.secao-diva {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 2rem;
  margin: 0 auto;
}

.secao-diva__titulo {
  text-align: center;
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  color: #674582;
}

.secao-diva__titulo_esq {
  margin-right: auto;
}

.secao-diva p {
  color: #63458a;
  font-size: 1.6rem;
  line-height: 0.5;
}

.secao-diva__introducao {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.secao-diva__foto-perfil {
  max-width: 18rem;
  margin: 1rem;
}

.secao-diva__citacao p {
  transition: all 0.5s;
  font-weight: bold;
  border: 1px solid #63458a;
  text-align: center;
  padding: 1rem;
  font-size: 1.7rem;
}

.secao-diva__citacao p:hover {
  transform: scale(1.1);
}

.secao-diva__historia {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0;
}

/* --- AUTORA --- */
.secao-autora {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.secao-autora__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 400px;
  border-radius: 5px;
}

.arrow {
  cursor: pointer;
  width: 0;
  height: 0;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #63458a;
  transition: all 0.5s;
}

.arrow-close {
  cursor: pointer;
  transition: all 0.5s;
  width: 0;
  height: 0;
  border-bottom: 10px solid #63458a;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  margin-bottom: 25px;
}

.secao-autora__foto a:hover {
  opacity: 0.8;
}

.secao-autora__dados {
  color: #63458a;
}

.secao-autora__dados p {
  margin: 15px;
  display: inline-block;
  font-size: 20px;
}

/* .secao-autora__dados span {
  font-size: 5px;
} */

.secao-autora a {
  font-style: italic;
  text-decoration: underline;
}
.secao-autora__about {
  background-color: rgb(248, 205, 248);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
}
.secao-autora__about img {
  border-radius: 8px;
  width: 75px;
  height: 110px;
  margin: 10px;
}

.secao-autora__about p {
  line-height: 23px;
  font-size: 15px;
  margin-right: 10px;
}

.closed {
  display: none;
  transition: all 1s;
}
.opened {
  display: flex;
  transition: all 1s;
}

.secao-cta {
  text-align: right;
  padding: 4rem 4rem;
}

.secao-cta__btn {
  padding: 10px 25px;
  border-radius: 5px;
  background-color: #674582;
  color: white;
  font-size: 20px;
}

.secao-cta__btn:hover {
  opacity: 0.8;
}
/*** MEDIA QUERIES ***/
/* TABLET */
@media (min-width: 768px) {
  /* --- NAV --- */

  p {
    font-size: 20px;
  }

  .p1 {
    font-size: 20px;

  }

  .paragraph2 {
    font-size: 15px;
  }

  body {
    font-size: 20px;

  }

  .media-video {
    max-width: 100%;
  }

  .navegacao__itens {
    position: static;
    display: flex;
    padding: 0;
    width: auto;
  }

  .navegacao__nav {
    margin-bottom: 0;
  }

  .navegacao__itens ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .navegacao__itens li {
    font-size: 1.2rem;
    margin: 0 0.6rem;
  }

  .navegacao__menu-hamburguer {
    display: none;
  }

  /* --- HEADER --- */
  .header {
    min-height: 75vh;
    background-size: cover;
    background-position-y: 0;
    /* text-align: left; */
    padding: 5rem 10rem;
  }

  .principal__titulo {
    font-size: 2.9rem;
  }

  .principal__sub {
    font-size: 1.8rem;
  }

  .principal__btn {
    margin: 0;
  }

  /* --- SECTION MARAVILHOSAS --- */
  .maravilhosas {
    padding: 4rem 0;
  }

  .maravilhosas__box > div {
    max-width: 200px;
    margin: 5rem;
  }

  .maravilhosas__perfil img {
    min-height: 220px;
  }
  .maravilhosas__perfil p {
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  /* --- FOOTER --- */
  .rodape {
    padding-top: 0;
  }

  .rodape__principal {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .rodape__logo img {
    max-width: 250px;
  }

  .rodape__navegacao > li {
    font-size: 1.5rem;
  }
}

/* .media {
  padding: 2rem;
  margin: 2rem;
  margin-bottom: 2rem;
  /* justify-content: center; */
  /* display: flex;
  justify-content: center;

} */


@media (min-width: 1024px) {

  .paragraph2 {
    display: flex;
    font-size: 20px;
  }


  body {
    font-size: 20px;
  }

  .principal {
    max-width: 650px;
  }
  .secao-diva__introducao {
    flex-direction: row;
    margin: 3rem 0;
  }
  .secao-diva__foto-perfil {
    max-width: 100%;
    margin: 0 4rem;
  }
  .secao-diva p {
    font-size: 1.7rem;
  }
  .secao-diva__citacao p {
    font-size: 2.5rem;
    padding: 4rem;
  }
  .secao-autora__about {
    width: 400px;
    flex-direction: row;
    text-align: left;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .secao-autora__dados {
    margin: 0 3rem;
  }
}

/* .media {
  padding: 2rem;
  /* justify-content: center; */
  /* display: flex; */

  .media-video {
    margin: 0.8rem;
    display: block;
    text-align: center;
    align-content: center;
  }

/* DESKTOP */
@media (min-width: 1440px) {

  body {
    font-size: 28px;
  }

  .navegacao__box {
    max-width: 80%;
  }
  .header {
    min-height: 90vh;
    background-position-y: 25%;
  }
  .navegacao__itens li {
    font-size: 1.5rem;
    margin: 0 1rem;
  }
  .principal {
    max-width: 650px;
  }



}
