/* --- MOBILE FIRST - iPhone 7 - width < 768px --- */
/* --- GERAL --- */
/*
unidades preferidas para esse CSS
margin, padding: rem
font-size: rem
width: %
max-width: % ou px
*/

.pictures {
    flex-wrap: wrap;
    display: flexbox;
  }


#carrosel {
  margin-top: 120px;
}

.explanationpicture {
  max-width: 100%;
}

.foto-autora {
  border-radius: 50%;
  margin-top: 4rem;
}
.explanationotebook {
  padding-right: 10px;
  margin: 15px;
}

.fullnotebook {
  padding-right: -20px;
}

.girlsrock {
  padding-left: 25px;
  padding-right: 10px;
  max-width: 80%;
  transform: translateX(-5%);

}

/* .pic {
  margin: -10px;
  height: auto;
} */

.text {
  color: rgba(255, 255, 255, 0.44);
}

.card-body {
  background-color: #323534;
  color: white;
  margin-right: -5%;
  margin-left: -10%;
  transform: translateX(1%);
}

.time {
  margin: 32px;
}

.card {
  position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #323534;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-right: 12%;
  margin-left: 14%;
  text-align: justify;
}


h1 {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-transform: uppercase;
  /* opacity: .2; */
  font-size: 70px;
}

h2 {

  /* top: 47%;
  left: 50%; */

  color: #fff;
  text-transform: uppercase;
  /* opacity: .2; */
  font-size: 20px;

}



.parallax2 {

  background-image: url(/img/Photo+51+-RF.jpg);
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



#parallax {
  position: relative;
  width: 100%;
  height: 100vh;
  /* background-image: url(https://raw.githubusercontent.com/oscicen/oscicen.github.io/master/img/depth-3.png), url(https://raw.githubusercontent.com/oscicen/oscicen.github.io/master/img/depth-2.png), url(https://raw.githubusercontent.com/oscicen/oscicen.github.io/master/img/depth-1.png); */
  background-image: url(/maravilhosas/helena-magaldi/img/microscope.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-position: 50% 50%;
}







.mySlides {
  align-content: center;
  /* justify-content: center; */
  margin-top: 70px;
  margin-bottom: 70px;
  margin-left: 50px;
  transform: translateX(-4%)
}


#flipcards {
  margin-bottom: 120px;
}



.videoplay {
  width: 100%;
  margin-top: 20px;
}

.videoplay1 {
  width: 100%;
  margin-top: 30px;
  margin-right: 60px;
  margin-left: 37px;
  padding: 20px;
}


.videoplay2 {
  width: 100%;
  transform: translateX(2%);
  transform: translatey(2%)
}

.phell {
  font-size: 10px;
}


.pvideo {
max-width: 100%;
  margin-top: 20px;
  text-align: justify;
}

.pvideo2 {
  max-width: 100%;
  margin-top: 20px;
  text-align: justify;
}


.sobre2 {
  margin-top: 4rem;
}

/* html {
  font-size: 10px;
} */

.img-circle {
  border-radius: 50%;
  margin-top: 4rem;
  /* margin-left: 2rem; */
  /* width: -webkit-fill-available; */
  margin-right: 0;
}

.img-circle2 {
  border-radius: 50%;
  margin-top: 4rem;
  width: -webkit-fill-available;
}

.p1 {
  margin: 2rem;
  text-indent: 60px;
  /* font-size: 20px; */
}

#content {
  background-color: #3f3e3f38;
  font-size: 2rem;
  color: black;
}

.psurprise {
  text-align: justify;
  margin: 42px;
  padding-top: 42px;
  color: rgba(133, 130, 130, 0.522);
  /*
  padding-left: 50px;
  padding-right: 50px; */
}


.h5 {
  font-size: 4rem;
}

.outros {
  align-content: center;
  text-align: left;
  padding: 2rem;
}

.media-video {
  margin: 0.8rem;
  display: block;
}

.main {
  margin: 0 auto;
  width: 100%;
}

.flip-card-back p,a {
  font-size: 1.5rem;
  align-content: center;
  padding: 0.5rem;
}

.card-header {
    padding: -0.25rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  /* border: 1px solid #f1f1f1; */
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  justify-content: space-between;
  flex-wrap: wrap;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: -webkit-left;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.listaRef{
  display:inline-block;
  border:1px solid #000;
  padding:3px;
}



/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}



/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: transparent;
  color: 494849ec;
}


/* Style the back side */
.flip-card-back {
  background-color: rgba(10, 10, 10, 0);;
  color: #494849ec;
  transform: rotateY(180deg);
  font-size: 2rem;
}

.cardh1 {
  font-size: 7vw;
}


.dna {
  width: 30vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  /* parallax */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* /parallax */
}

.lala {
  padding-top: 1rem;
}

.paragraph2 {
  display: flex;
  font-size: 12px;
  margin-bottom: 4rem;
  text-align: justify;
  font-style: italic;
  color:  #494849ec;

}

.paragraph1 {
  text-align: justify;
  color:  rgba(255, 255, 255, 0.44);
  /* THIS COLOUR THIS THIS */

}

.media {

  margin: 1rem;
  margin-bottom: 2rem;
  /* justify-content: center; */
  display: flex;
  justify-content: center;

}

.introducao {

  justify-content: center;
  display: block;
  margin-left: 0;
  margin-right: 0;
}

.button2 {
   justify-items: center;
}

.picture1 {
  width: 25%;
}

.pictures {
  flex-wrap: wrap;
  display: flexbox;
 transform: translateX();
}


/* conteudo original do meu botao, a ser modificado depois para parecer algo  */
.btncent {
  background-color: transparent;
  border: none;
  color: white;
  padding: 2px;
  text-decoration: none;
  vertical-align: middle;
  /* position: inherit; */
  /* display: inline-block; */
  font-size: 16px;
  color: #000;
  margin-bottom: 2rem;
  margin-top: 2rem;
  text-align: center;
}

#resultList {
  text-align: justify;
}

* {
  box-sizing: border-box;
  /* max-width: 100%; */
}


body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  margin: 0;
  /* background-color: #bdbaba7b; */
  background-color: #080808f1;
  text-align: center;
  /* color: #494849ec; */
  color: rgba(255, 255, 255, 0.44);
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  display: block;
}


.flip-card {
  align-self: center;
}

.card-header {
  margin: 0;
  padding: 0;
}


#videos {
  /* margin-top: 0rem; */
  display: block;
  background-color: #323534;
  margin: 25px;
  border-radius: 50px;
  border: 7px double #6c548bc6;
  margin-bottom: 60px;
  padding: 0;
  color: rgba(255, 255, 255, 0.44);
}

ul {
  padding: 0;
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  /* padding-inline-start: 40px; */
  padding: 20px;
}

li {
  list-style: none;
  display: list-item;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/* define que as imagens tem que ter o tamanho máximo da div mãe */
.img-responsive {
  width: 100%;
}

/* define o tamanho da caixa */
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}

/* --- BOTAO --- */


.btn2 {
        display: inline-block;
        background-color: grey;
        border-radius: 60px;
        /* border: 7px double #070707; */
        color: #030303;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        /* width: 200px; */
        transition: all 0.5s;
        cursor: pointer;
        margin: 25px;
        opacity: 70%;
}

.maisSobre {
  margin-bottom: 10vw;
  align-content: center;

}

#resultList{
  margin-bottom: 10vw;
  align-content: center;
  background-color: grey;
  border-radius: 10px;
  padding: 0;
  box-shadow: 0 30px 40px rgba(0,0,0,.1);

}



.flip-card {
  margin: 2vw;
}

.btn3 {
  background-color: transparent;
  text-decoration: underline;
  color: #6745826b;
}

.btn {
  display: inline-block;
        background-color: #272c74;
        border-radius: 5px;
        border: 13px double #cccccc;
        color: #eeeeee;
        text-align: center;
        font-size: 13px;
        /* padding: 20px; */
        width: 200px;
        transition: all 0.5s;
        cursor: pointer;
        /* margin: 25px; */
}

.btn_roxo {
  color: white;
  background-color: #c083b9;
  display: block;
  max-width: 250px;
  text-align: center;
  transition: all 0.5s;
  margin: 0 auto;
}

.btn_rosa {
  color: white;
  background-color: #7c527877;
  display: block;
  max-width: 250px;
  text-align: center;
  transition: all 0.5s;
  margin: 0 auto;
  border-radius: 60px;
  padding: 20px;
  margin-bottom: 40px;

}

.btn_rosa2 {
  color: white;
  background-color: #7c527877;
  display: block;
  max-width: 250px;
  text-align: center;
  transition: all 0.5s;
  margin: 0 auto;
  border-radius: 60px;
  padding: 20px;

}

.btn_roxo:hover,
.btn_roxo:focus {
  transform: translateY(-1rem);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  background-color: rgb(192, 156, 188);
}

.btn_roxo:active {
  transform: translateY(-3rem);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.btn_center {
  margin: 0 auto;
}

/* --- NAV --- */
/* 42357a6b */

.navegacao {
  background-color: #6745826b;
  color: white;
  text-transform: uppercase;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
  z-index: 99;
  position: fixed;
  width: 100%;
  transition: all 1s;
}

.navegacao__logo {
  max-width: 200px;
}

.navegacao__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navegacao__itens {
  transition: all 1s;
  position: absolute;
  right: -800px;
  top: 85px;
  width: 100%;
  text-align: center;
  padding: 3rem 0;
}

.navegacao__itens.ativo {
  display: block;
  right: 0;
  top: 85px;
  width: 100%;
  text-align: center;
  padding: 3rem 0;
  transition: right 0.5s;
}

.navegacao__itens li > a {
  transition: all 0.5s;
}

.navegacao__itens li > a:hover {
  color: #c083b9;
}

.navegacao__menu-hamburguer img {
  border-radius: 5px;
}

.navegacao__nav {
  margin-bottom: 3rem;
  margin-right: 2rem;
}

.navegacao__nav li {
  font-size: 1.5rem;
  margin: 1rem;
}

.navegacao__redes-sociais a {
  margin: 0 1rem;
}

/* --- HEADER --- */

.header {
  min-height: 70vh;
  height: 480px;
  background: linear-gradient(
      to top,
      rgba(3, 3, 3, 0.781) 0,
      rgba(196, 61, 223, 0.418) 50%,
      black 100%
    ),
    url(../img/dna.png);
  background-size: cover;
  filter: contrast(100%);
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  text-align: center;
  padding: 11rem 2rem 5rem 2rem;
  color: white;
}
/* tentar depois:
.header {
  background-image: linear-gradient(to top, rgba(3, 3, 3, 0.781) 0, rgba(196, 61, 223, 0.418) 50%, #69156975 100%), url(../img/header.jpg);
  background-position: center;
  display: flex;
  background-size: cover;
  align-items: flex-end;
  justify-content: center;
  padding: 0 2rem;
  color: white;
  height: 500px;
} */



.principal__titulo {
  text-transform: uppercase;
  font-size: 2.6rem;
  font-weight: 900;
  text-shadow: 0px 5px 15px black;
  text-align: center;
}

/* .principal__sub {
  font-weight: 300;
  margin: 2rem 0 3rem 0;
  font-size: 1.8rem;
  text-shadow: 0px 0px 15px black;
} */



/* --- FOOTER --- */
.rodape {
  background-color: #323534;
  color: white;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.8rem;
}

.rodape__principal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1.5rem 0;
}

.rodape__principal > * {
  margin: 1rem 0;
}

.rodape__navegacao > li {
  font-size: 1.1rem;
  margin: 1rem;
}

.rodape__navegacao a {
  transition: all 0.5s;
}

.rodape__navegacao a:hover {
  color: #c083b9;
}

.rodape__logo {
  max-width: 200px;
}

.rodape__redes-sociais a {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}

.rodape__redes-sociais a:hover {
  color: #c083b9;
}

.rodape__redes-sociais img {
  max-width: 10px;
  margin-right: 0.5rem;
}

.rodape__redes-sociais span {
  display: flex;
  font-size: 1.5rem;
}

.rodape__cc {
  width: 100%;
  background-color: #292a2a;
  font-size: 1rem;
  opacity: 0.5;
  text-align: center;
}



/* --- AUTORA --- */
.secao-autora {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


/*** MEDIA QUERIES ***/
/* TABLET */
@media (min-width: 768px) {
  /* --- NAV --- */

  .pictures {
    flex-wrap: wrap;
    align-content: center;
    transform: translateX(10%);

  }

  .girlsrock {
    transform: translateX(42%);
    }



  p {
    font-size: 20px;
  }

  .p1 {
    font-size: 20px;
  }

  .paragraph2 {
    font-size: 15px;
  }

  #flipcards {
    align-content: center;
    display: flex;
  }

  body {
    font-size: 20px;
  }

  .media-video {
    max-width: 100%;
    display: flex;
    flex-direction: row;
  }

  .navegacao__itens {
    position: static;
    display: flex;
    padding: 0;
    width: auto;
  }

  .navegacao__nav {
    margin-bottom: 0;
  }

  .navegacao__itens ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .navegacao__itens li {
    font-size: 1.2rem;
    margin: 0 0.6rem;
  }

  .container {
    max-width: 100%;
  }

  .navegacao__menu-hamburguer {
    display: none;
  }

  /* --- HEADER --- */
  .header {
    min-height: 75vh;
    background-size: cover;
    background-position-y: 0;
    /* text-align: left; */
    padding: 5rem 10rem;
  }

  .principal__titulo {
    font-size: 5rem;
    text-align: center;
  }

  .principal__sub {
    font-size: 1.8rem;
  }

  .principal__btn {
    margin: 0;
  }


  /* --- FOOTER --- */
  .rodape {
    padding-top: 0;
  }

  .rodape__principal {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .rodape__logo img {
    max-width: 250px;
  }

  .rodape__navegacao > li {
    font-size: 1.5rem;
  }
}

/* .media {
  padding: 2rem;
  margin: 2rem;
  margin-bottom: 2rem;
  /* justify-content: center; */
  /* display: flex;
  justify-content: center;

} */




@media (min-width: 1024px) {

  #videos {
    /* margin-top: 0rem; */
    display: block;
    background-color: rgba(255, 255, 255, 0.44);
    border-radius: 60px;
    border: 7px double #6c548b67;
    margin-bottom: 144px;
    padding: 0;
}

.pvideo {
  transform: translateX(-9%);
}
/*
.girlsrock {
  transform: translateX(-10%);
} */

/* .pvideo2 {
  text-align: justify;
  margin-top: 20px;

} */

.img-circle {
  transform: translateY(64%);
}

.carrosel {
  display: flex;
}

h2 {

  /* top: 47%;
  left: 50%; */
  transform: translate(10%, -50%);
  color: #fff;
  text-transform: uppercase;
  opacity: .8;
  font-size: 30px;
  text-align: center;
  align-content: center


}

.girlsrockatmath {
    top: 15%;
    left: 5%;

}
.fullnotebook {
  padding: 20px;
  width: 95%;
  /* transform: translateX(8%) */

}

.fullnotebookall {
  transform: translateX(8%)

}

.row {
  flex-wrap: inherit;
}

/* .pictures {
  flex-wrap: wrap;
  align-content: center;
} */


.pcitation {
  font-size: 28px;
}


  .paragraph2 {
    display: flex;
    font-size: 20px;
  }


  body {
    font-size: 20px;
  }

  .p1 {
    font-size: 22px;
  }

  .paragraph1 {
    vertical-align: middle;

  }
.pictures {
  transform: rotateX(-7%);
}

.girlsrock {
  transform: translateX(-40%);

}

.microscopeflip {
  transform: translateX((-20%)
}

body {
    font-family: Verdana, sans-serif;
}
@media (min-width: 768px) {

body {
    font-size: 20px;
}


  .introdiv {
    margin-bottom: 80px;
    margin-top: 80px;
  }


  .principal {
    max-width: 650px;
  }
  .secao-diva__introducao {
    flex-direction: row;
    margin: 3rem 0;
  }
  .secao-diva__foto-perfil {
    max-width: 100%;
    margin: 0 4rem;
  }
  .secao-diva p {
    font-size: 1.7rem;
  }
  .secao-diva__citacao p {
    font-size: 2.5rem;
    padding: 4rem;
  }
  .secao-autora__about {
    width: 400px;
    flex-direction: row;
    text-align: left;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .secao-autora__dados {
    margin: 0 3rem;
  }


/* .media {
  padding: 2rem;
  /* justify-content: center; */
  /* display: flex; */

  .media-video {
    margin: 0.8rem;
    display: block;
    text-align: center;
    align-content: center;
  }

/* DESKTOP */
@media (min-width: 1440px) {

  body {
    font-size: 28px;
  }

  h2 {

    /* top: 47%;
    left: 50%; */
    transform: translate(42%, -50%);
    color: #fff;
    text-transform: uppercase;
    /* opacity: .2; */
    font-size: 30px;

  }



  .navegacao__box {
    max-width: 80%;
  }
  .header {
    min-height: 90vh;
    background-position-y: 25%;
  }
  .navegacao__itens li {
    font-size: 1.5rem;
    margin: 0 1rem;
  }
  .principal {
    max-width: 650px;
  }

  .pictures {
    align-items: flex-start;
    display: flex;
    width: 100%;
  }

  .flip-card-inner {
    position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.5s;
      transform-style: preserve-3d;
  }

  #flipcards {
    align-content: flex-start;
    align-items: flex-start;
    transform: translateX(30%)
}

}
}
}
