/* --- MOBILE FIRST - iPhone 7 - width < 768px --- */
/* --- GERAL --- */
/*
unidades preferidas para esse CSS
margin, padding: rem
font-size: rem
width: %
max-width: % ou px
*/

* {
    box-sizing: border-box;
  }

  html {
    font-size: 10px; /* definir uma font-size padrão */
  }

  body {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    margin: 0;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  ul {
    padding: 0;
  }

  li {
    list-style: none;
  }

  /* define que as imagens tem que ter o tamanho máximo da div mãe */
  .img-responsive {
    width: 100%;
  }

  /* define o tamanho da caixa */
  .container {
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
  }

  /* --- NAV --- */
.navegacao {
    background-color: #00CED1;
    color: white;
    text-transform: uppercase;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    padding: 1.5rem;
    z-index: 99;
    position: fixed;
    width: 100%;
    transition: all 1s;
  }

  .navegacao__logo {
    max-width: 200px;
  }

  .navegacao__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navegacao__itens {
    transition: all 1s;
    position: absolute;
    right: -800px;
    top: 85px;
    width: 100%;
    text-align: center;
    padding: 3rem 0;
  }

  .navegacao__itens.ativo {
    display: block;
    right: 0;
    top: 85px;
    width: 100%;
    text-align: center;
    padding: 3rem 0;
    transition: right 0.5s;
  }

  .navegacao__itens li > a {
    transition: all 0.5s;
  }

  .navegacao__itens li > a:hover {
    color: #292a2a;
  }

  .navegacao__menu-hamburguer img {
    border-radius: 5px;
  }

  .navegacao__nav {
    margin-bottom: 3rem;
    margin-right: 2rem;
  }

  .navegacao__nav li {
    font-size: 1.5rem;
    margin: 1rem;
  }

  .navegacao__redes-sociais a {
    margin: 0 1rem;
  }

  /* --- HEADER --- */
.header {
    min-height: 70vh;
    height: 480px;
    background: linear-gradient(
        to top,
        rgba(3, 3, 3, 0.781) 0,
        rgba(50, 138, 133, 0.418) 50%,
        #323534 100%
      ),
      url(../img/header-img.jpeg);
    background-size: cover;
    filter: contrast(100%);
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    text-align: center;
    padding: 11rem 2rem 5rem 2rem;
    color: white;
}

.principal__titulo {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 900;
    text-shadow: 0px 5px 15px black;
    text-align: right;
}

#autora-nome {
    margin-right: 300px;
}

/*--- INTRODUÇAO E HISTORIA ---*/
.secao-diva {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 2rem;
    margin: 0 auto;
}

.secao-diva__historia {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0;
}

.secao-diva__titulo {
    text-align: center;
    text-transform: uppercase;
    font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: black;
}

.secao-diva__titulo_esq {
    margin-right: auto;
    align-items: center;
}

.secao-diva p {
    color: #323534;
    font-size: 1.6rem;
    line-height: 1.5;
}

.secao-diva__introducao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secao-diva__foto-perfil {
    max-width: 18rem;
    margin: 1rem;
}

.secao-diva__foto-perfil img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

#img-introducao:hover{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}

.secao-diva__citacao p {
  color: #323534;
  transition: all 0.5s;
  font-weight: bold;
  border: 2px solid #323534;
  text-align: center;
  padding: 1rem;
  font-size: 1.7rem;
}

.secao-diva__citacao p:hover {
  transform: scale(1.1);
}

/* --- SIANG ---  */
.row {
  display: flex;
  width: 100%;
  height: auto;
}

.col {
  width: 100%;
  height: auto;
}

#historia-alcione {
  background-color: gainsboro;
}

#historia-img {
    width: 100%;
    height: 100%;
}

#historia-text {
    color: black;
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 2rem;
}

#aromatizador-text {
    color: #323534;
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 2rem;
}

#aromatizador-img {
    width: 100%;
    height: 100%;
}

#croche-text {
    color: #323534;
    font-size: 1.6rem;
    line-height: 1.5;
    margin-right: 1rem;
}

#croche-img {
    width: 100%;
    height: 100%;
}

#legenda-siang {
    text-align: center;
    font-size: 10px;
}

#rede-social a {
    font-style: italic;
    text-decoration: underline;
    transition: all 0.5s ;
}

#icones-redes {
  text-align: right;
  justify-content: space-between;
}
#icone-instagram {
  margin-right: 2rem;
}

  /* --- AUTORA --- */
  .secao-autora {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5rem
  }

  .secao-autora__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    border-radius: 5px;
  }

  .arrow {
    cursor: pointer;
    width: 0;
    height: 0;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #323534;
    transition: all 0.5s;
  }

  .arrow-close {
    cursor: pointer;
    transition: all 0.5s;
    width: 0;
    height: 0;
    border-bottom: 10px solid #323534;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    margin-bottom: 25px;
  }

  .secao-autora__foto a:hover {
    opacity: 0.8;
  }

  .secao-autora__dados {
    color: #323534;
  }

  .secao-autora__dados p {
    margin: 15px;
    display: inline-block;
    font-size: 18px;
  }

  .secao-autora__dados span {
    font-size: 28px;
  }

  .secao-autora a {
    font-style: italic;
    text-decoration: underline;
  }
  .secao-autora__about {
    background-color: gainsboro;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
  }
  .secao-autora__about img {
    border-radius: 8px;
    width: 120px;
    height: 200px;
    margin: 10px;
  }

  .secao-autora__about p {
    line-height: 23px;
    font-size: 15px;
    margin-right: 10px;
  }

  .closed {
    display: none;
    transition: all 1s;
  }

  .opened {
    display: flex;
    transition: all 1s;
  }

  /* SETA PARA CIMA */
  #arrow-up {
    text-align: right;
    margin-right: 30px;
  }


  /* --- BOTAO MARAVILHOSAS --- */
  .secao-todas {
    text-align: right;
    padding: 4rem 4rem;
  }

  .btn {
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem 3rem;
    border-radius: 5px;
    font-size: 1.8rem;
  }

  .btn_cinza {
    color: white;
    background-color: #323534;
    display: block;
    max-width: 250px;
    text-align: center;
    transition: all 0.5s;
    margin: 0 auto;
    border-radius: 5px;
  }

  .btn_cinza:hover,
  .btn_cinza:focus {
    transform: translateY(-1rem);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    background-color: rgb(167, 167, 167);
  }

  .btn_cinza:active {
    transform: translateY(-3rem);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  }


/* --- FOOTER --- */
.rodape {
    background-color: #00CED1;
    color: white;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.8rem;
  }

  .rodape__principal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1.5rem 0;
  }

  .rodape__principal > * {
    margin: 1rem 0;
  }

  .rodape__navegacao > li {
    font-size: 1.1rem;
    margin: 1rem;
  }

  .rodape__navegacao a {
    transition: all 0.5s;
  }

  .rodape__navegacao a:hover {
    color: #323534;
  }

  .rodape__logo {
    max-width: 200px;
  }

  .rodape__redes-sociais a {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
  }

    .rodape__redes-sociais a:hover {
      color: #323534;
    }

  .rodape__redes-sociais img {
    max-width: 10px;
    margin-right: 0.5rem;
  }

  .rodape__redes-sociais span {
    display: flex;
    font-size: 1.5rem;
  }

  .rodape__cc {
    width: 100%;
    background-color: #292a2a;
    font-size: 1rem;
    opacity: 0.5;
    text-align: center;
  }



  /*** MEDIA QUERIES ***/
/* TABLET */
@media (min-width: 768px) {
    /* --- nav --- */
    .navegacao__itens {
      position: static;
      display: flex;
      padding: 0;
      width: auto;
    }

    .navegacao__nav {
      margin-bottom: 0;
    }

    .navegacao__itens ul {
      display: flex;
      justify-content: space-around;
      width: 100%;
      align-items: center;
      text-align: center;
    }

    .navegacao__itens li {
      font-size: 1.2rem;
      margin: 0 0.6rem;
    }

    .navegacao__menu-hamburguer {
      display: none;
    }

    /* --- header --- */
    .header {
      min-height: 75vh;
      background-size: cover;
      background-position-y: 0;
      text-align: left;
      padding: 5rem 10rem;
    }

    .principal__titulo {
      font-size: 2.9rem;
    }

    .principal__sub {
      font-size: 1.8rem;
    }

    .principal__btn {
      margin: 0;
    }

    /* --- historia --- */
    .row-historia {
      display: flex;
      width: 100%;
      height: auto;
    }

    .col-historia {
      width: 100%;
      height: auto;
    }

    /* --- footer --- */
    .rodape {
      padding-top: 0;
    }

    .rodape__principal {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 100%;
    }

    .rodape__logo img {
      max-width: 250px;
    }

    .rodape__navegacao > li {
      font-size: 1.5rem;
    }
  }

    /* DESKTOP */
  @media (min-width: 1024px) {
    .principal {
      max-width: 650px;
    }
    .secao-diva__introducao {
      flex-direction: row;
      margin: 3rem 0;
    }
    .secao-diva__foto-perfil {
      max-width: 100%;
      margin: 0 4rem;
    }
    .secao-diva p {
      font-size: 1.7rem;
    }
    .secao-diva__citacao p {
      font-size: 2.5rem;
      padding: 4rem;
    }
    .secao-autora__about {
      width: 400px;
      flex-direction: row;
      text-align: left;
      align-items: center;
      justify-content: center;
      padding: 0;
    }
    .secao-autora__dados {
      margin: 0 3rem;
    }
  }

  @media (min-width: 1440px) {
    .navegacao__box {
      max-width: 80%;
    }
    .header {
      min-height: 90vh;
      background-position-y: 25%;
    }
    .navegacao__itens li {
      font-size: 1.5rem;
      margin: 0 1rem;
    }
    .principal {
      max-width: 650px;
    }
  }
